.carousel-inner img{
    max-height: 600px;
}

/* Features */
#features {
    background-image:url(/img/infosectionbg_00000.jpg);
    background-size: auto;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
}

@media (max-width: 768px) {
    #features {
        background-image: url(/img/infosectionbg_00000.jpg);
        background-size: cover;
    }
}

/*
.video-background {
    position: relative;
    width: 100%;
    min-height: 100vh;
}


.caption {
    position: absolute;
    top: 38%;
    width: 100%;
}

.caption h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.caption h3 {
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}

@media (max-width: 768px) {
    .caption h1 {
        font-size: 1.4rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }

    .caption h3 {
        font-size: 1.1rem;
        padding-bottom: 1.2rem;
    }
}
*/