body {
    overflow: hidden;
}

.snap-embed {
    position: relative;
    z-index: auto;
    height: 100vh;
    opacity: 100%;
}

.landing-text {
    position: absolute;
    z-index: 7;
    top: 30%; right: 32%;
}

.landing-icons {
    position: absolute;
    z-index: 7;
    top: 43%; right: 50%;
}

.upload-button {
    border-radius: 50%;
}
/* devices under 1199px (xl) */
@media (max-width: 1199.98px) {

}

/*devices under 992px (xl) */
@media (max-width: 992px) {
    
}

/* devices under 768px (md) */
@media (max-width: 767.98px) {
    
}