.carousel-inner img{
    max-height: 600px;
}

/* Features */
#features {
    background-image:url(/img/infosectionbg_00000.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
}

@media (max-width: 768px) {
    #features {
        background-image: none;
    }
}

