.carousel-inner img{
    max-height: 600px;
}

.video-background {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.caption {
    position: absolute;
    top: 38%;
    width: 100%;
}